<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>

    <head><h1 style="color:green">o seu evento foi cadastrado com sucesso</h1></head>

    <main>


        <button id="homeButton">página Home</button>
    </main>
    <script>
var buttonHome = document.getElementById("homeButton");
    buttonHome.addEventListener("click", function () {
      location.href = '/';
    });
    </script>
</body>
</html>