<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <h2>Registrar<h2>
            <form action="/create" method="POST">
                <input type="text" placeholder="Nome" name="nome">
                <input type="number" placeholder="valor do ingresso R$" name="valor">
                <input type="date" placeholder="Data do Evento" name="date">
                <button type="submit">Cadastrar Evento</button>
            </form> 



    </main>
</body>
</html>